<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chronic WatchKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Chronic.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ChronicKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Notification - Chronic WatchKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SiriIntent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>SiriIntentUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>232E00F91AFD1AB3000084C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23612F1C1AFD50C10087A11E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23612F261AFD50C10087A11E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236B0ACA1D7CC5E30055C754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236B0AD31D7CC5E40055C754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236B0AF81D7E10CF0055C754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23A0E7E01B5AEDA700F53E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23AF7DD71AC02E2800AA3FC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23AF7DEF1AC02E2900AA3FC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
